# Pinecone
PINECONE_API_KEY=op://Employee/575iu6gscslfu6dbmtgzvpi6hy/credential
PINECONE_INDEX=n8n-recruitment-rag-bot-1536
PINECONE_NAMESPACE=recruitment-rag-2

# OpenAI
OPENAI_API_KEY=op://Employee/uw6soelyqjqerwkogprxr7t4ia/api key

# LlamaCloud
LLAMA_CLOUD_API_KEY=op://Employee/lnhrdmv73rtdgb6ew53wqhmewu/credential

# Miscellaneous
SLACK_JSON_PATH=slack_C08MGP5N8DA.json
CHUNK_PLAN_PATH=articles/chunk_plan.json
TRUSTED_USERS={U082LELDMBN}

# Slack
SLACK_TOKEN=op://Employee/fe7qwdxozznsegta7vdtkeyv7m/credential
SLACK_CHANNEL_ID=C08MGP5N8DA
SLACK_WORKSPACE_HOST=https://simployer.slack.com

# Embedding & Chunking
EMBED_MODEL=text-embedding-3-small
BATCH_SIZE=64
CHUNK_CHARS=1500
CHUNK_OVERLAP=300